Flask==0.12
Flask-Assets==0.12
Flask-Script==2.0.5
Frozen-Flask==0.13
gnureadline==6.3.3
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.1
MarkupSafe==0.23
webassets==0.12
Werkzeug==0.11.11
wheel==0.30.0a0
WTForms==2.1