<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{ seo_title|safe }}</title>
    <meta name="__sync_contentCategory" content="{% block paywall %}{% endblock %}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    
    {% include 'components/_hearst.html' %}

    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "{{ config.CATEGORY }} :: Special Projects";
        var omni_title = "{{ title|safe }}";
        var omni_paywallSite = "1";
        var omni_className = "{{ hearst_class }}";
        var omni_publicationDate = "{{ config.DATE }} 00:00:00";
        var omni_authorName = "{% block author %}{% endblock %}";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- End Hearst analytics -->

    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->

    {% block head %}{% endblock %}

  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content %}{% endblock %}

    {% assets output="scripts/main.%(version)s.js", "scripts/main.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block javascript %}{% endblock %}

    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}

</body>
</html>
