<div id="header"> 	<!-- ux/premiumsfgate/templates/hearst/common/admin_bar.tpl -->
<div class="header-top">
    <ul class="ht-links">
      <li class="ht-link-item ht-branding"><a href="http://www.sfgate.com/" target="_blank"></a></li>
      <li class="ht-link-item first"><a href="http://www.sfgate.com/cars/" target="_blank">Autos</a></li>
      <li class="ht-link-item"><a href="http://www.sfgate.com/jobs/" target="_blank">Jobs</a></li>
      <li class="ht-link-item"><a href="http://www.sfgate.com/realestate/" target="_blank">Real Estate</a></li>
      <li class="ht-weather">
        <span>
          <a class="weather-ico" href="http://weather.sfgate.com/US/CA/San_Francisco.html" target="_blank" style="background-position: -72px -72px;"></a>
          <a class="ht-temp" href="http://weather.sfgate.com/US/CA/San_Francisco.html" target="_blank">70°</a>
        </span>
      </li>
    </ul>

    <!-- ux/premiumsfgate/templates/hearst/widgets/paywallLogin/main.tpl -->

<ul class="ht-right-links signed-in" style="">
    <li class="ht-ed"><span><a href="/e-edition/">e-edition</a></span></li>
    <li class="ht-user">
        <a id="adminlink" class="ht-expand">Account</a>
        <div class="hst-admin">
            <div id="acctAdmin">
                <ul class="form-list">
                    <li><a href="https://myaccount.sfchronicle.com/Login.aspx" class="admin-profile" target="_blank">Edit Your Profile</a></li>
                    <li><a href="https://myaccount.sfchronicle.com/Login.aspx" class="admin-sub" target="_blank">Manage Your Subscription</a></li>
                </ul>
                <input class="btn-submit" type="button" onclick="edbTokens.logout()" value="Sign Out">
            </div>
        </div><!-- /hst-admin -->
    </li>
</ul>

</div>
<!-- e ux/premiumsfgate/templates/hearst/common/admin_bar.tpl -->
									<div class="header-branding">
							<div class="menu-btn">
								<a id="menuBtn" class="hdn-analytics"><span class="hdn-analytics-data">visit|hamburger-menu|hamburger-menu|0</span></a>
							</div>
							<div class="wrap-center">
								<a class="logo-link" href="/"></a>
											<div class="head-date"><span class="wide-only">Friday,</span><span class="date"> June 12, 2015</span></div>
														<div class="header-share">
													<ul>
														<li>
															Follow Us
														</li>
														<li><a class="hs-link fb-link" href="https://www.facebook.com/sanfranciscochronicle"></a></li>
														<li><a class="hs-link twtr-link" href="https://twitter.com/sfchronicle"></a></li>
														<li><a class="hs-link li-link" href="https://www.linkedin.com/company/san-francisco-chronicle"></a></li>
														<li><a class="hs-link gplus-link" href="https://plus.google.com/+sfgate/posts"></a></li>
													</ul>
												</div>
							</div>
						</div>
	<!-- END ux/premiumsfgate/templates/hearst/home/header_branding.tpl -->

<!-- e /hearst/home/header_main.tpl --><!--
channel.className: channel
channel.comments: none
-->

<!-- hearst/home/navigation.tpl -->
	<!-- ux/premiumsfgate/templates/hearst/home/navigation_main.tpl -->

<!-- ux hearst/common/dynamic_nav.tpl -->





<div id="navMenu" class="nav-menu" style="left: -175px;">
	<div class="nav-search">

		<form class="search-form" action="/search/" method="get">
		  			<input type="hidden" name="action" value="search">
			<input type="hidden" name="firstRequest" value="1">
			<input type="hidden" name="searchindex" value="gsa">
		  		  <fieldset>
			<input class="form-input" id="search" name="query" type="text" value="" placeholder="Search" autocomplete="off">
			<input class="search-btn" value="" name="search" type="submit">
		  </fieldset>
		</form>
	</div>
	<ul class="nav-menu-list">
																<li id="Ho-link" class="menu-item childless hdn-analytics">
					<div class="nav-label">
						<span class="hdn-analytics-data">visit|Home|navigation|1</span>
						<a href="/" class="hdn-analytics">
							<span class="hdn-analytics-data">visit|Home|navigation|1</span>
							<span class="section-link">Home</span>
						</a>
					</div>
				</li>
																					<li id="Lo-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Local|navigation|2</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/local/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local|navigation|2</span>
								<span class="section-link">Local</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/local/columnists/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-Columnists|navigation|1</span>
								<div class="nav-label">Columnists</div>
							</a>
						</li>
					  										  						<li>
							<a href="/local/sanfrancisco/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-San Francisco|navigation|2</span>
								<div class="nav-label">San Francisco</div>
							</a>
						</li>
					  										  						<li>
							<a href="/local/bayarea/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-Bay Area|navigation|3</span>
								<div class="nav-label">Bay Area</div>
							</a>
						</li>
					  										  						<li>
							<a href="/local/crime/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-Crime|navigation|4</span>
								<div class="nav-label">Crime</div>
							</a>
						</li>
					  										  						<li>
							<a href="/local/environment/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-Environment|navigation|5</span>
								<div class="nav-label">Environment</div>
							</a>
						</li>
					  										  						<li>
							<a href="/local/politics-policy/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-Politics &amp; Policy|navigation|6</span>
								<div class="nav-label">Politics &amp; Policy</div>
							</a>
						</li>
					  										  						<li>
							<a href="/lifestyle/health/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-Health|navigation|7</span>
								<div class="nav-label">Health</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.legacy.com/obituaries/sfgate/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-Obituaries|navigation|8</span>
								<div class="nav-label">Obituaries</div>
							</a>
						</li>
					  										  						<li>
							<a href="/drought/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Local-California Drought|navigation|9</span>
								<div class="nav-label">California Drought</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="US-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|US &amp; World|navigation|3</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/us-world/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|US &amp; World|navigation|3</span>
								<span class="section-link">US &amp; World</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/us-world/us/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|US &amp; World-US|navigation|1</span>
								<div class="nav-label">US</div>
							</a>
						</li>
					  										  						<li>
							<a href="/us-world/world/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|US &amp; World-World|navigation|2</span>
								<div class="nav-label">World</div>
							</a>
						</li>
					  										  						<li>
							<a href="/us-world/politics-policy/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|US &amp; World-Politics &amp; Policy|navigation|3</span>
								<div class="nav-label">Politics &amp; Policy</div>
							</a>
						</li>
					  										  						<li>
							<a href="/us-world/environment/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|US &amp; World-Environment|navigation|4</span>
								<div class="nav-label">Environment</div>
							</a>
						</li>
					  										  						<li>
							<a href="/us-world/science/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|US &amp; World-Science|navigation|5</span>
								<div class="nav-label">Science</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="Sp-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Sports|navigation|4</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/sports/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports|navigation|4</span>
								<span class="section-link">Sports</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/sports/49ers/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-49ers|navigation|1</span>
								<div class="nav-label">49ers</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/raiders/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-Raiders|navigation|2</span>
								<div class="nav-label">Raiders</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/giants/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-Giants|navigation|3</span>
								<div class="nav-label">Giants</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/athletics/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-A's|navigation|4</span>
								<div class="nav-label">A's</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/warriors/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-Warriors|navigation|5</span>
								<div class="nav-label">Warriors</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/college/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-College|navigation|6</span>
								<div class="nav-label">College</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/sharks/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-Sharks|navigation|7</span>
								<div class="nav-label">Sharks</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/high-school/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-High School|navigation|8</span>
								<div class="nav-label">High School</div>
							</a>
						</li>
					  										  						<li>
							<a href="/sports/other/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Sports-More Sports|navigation|9</span>
								<div class="nav-label">More Sports</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="Bi-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Biz &amp; Tech|navigation|5</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/business/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Biz &amp; Tech|navigation|5</span>
								<span class="section-link">Biz &amp; Tech</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/business/technology/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Biz &amp; Tech-Technology|navigation|1</span>
								<div class="nav-label">Technology</div>
							</a>
						</li>
					  										  						<li>
							<a href="/business/realestate/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Biz &amp; Tech-Real Estate|navigation|2</span>
								<div class="nav-label">Real Estate</div>
							</a>
						</li>
					  										  						<li>
							<a href="/business/markets/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Biz &amp; Tech-Markets|navigation|3</span>
								<div class="nav-label">Markets</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="Op-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Opinion|navigation|6</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/opinion/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Opinion|navigation|6</span>
								<span class="section-link">Opinion</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/opinion/editorials/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Opinion-Editorials|navigation|1</span>
								<div class="nav-label">Editorials</div>
							</a>
						</li>
					  										  						<li>
							<a href="/opinion/letters-editor/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Opinion-Letters to the editor|navigation|2</span>
								<div class="nav-label">Letters to the editor</div>
							</a>
						</li>
					  										  						<li>
							<a href="/opinion/op-ed-columns/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Opinion-Op-ed columns|navigation|3</span>
								<div class="nav-label">Op-ed columns</div>
							</a>
						</li>
					  										  						<li>
							<a href="/opinion/insight/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Opinion-Insight|navigation|4</span>
								<div class="nav-label">Insight</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="St-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Style|navigation|7</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/style/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Style|navigation|7</span>
								<span class="section-link">Style</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/style/scene/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Style-Scene|navigation|1</span>
								<div class="nav-label">Scene</div>
							</a>
						</li>
					  										  						<li>
							<a href="/style/fashion/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Style-Fashion|navigation|2</span>
								<div class="nav-label">Fashion</div>
							</a>
						</li>
					  										  						<li>
							<a href="/style/shopping/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Style-Shopping|navigation|3</span>
								<div class="nav-label">Shopping</div>
							</a>
						</li>
					  										  						<li>
							<a href="/style/weddings/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Style-Weddings|navigation|4</span>
								<div class="nav-label">Weddings</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="Fo-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Food+Home|navigation|8</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/foodandhome/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home|navigation|8</span>
								<span class="section-link">Food+Home</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/foodandhome/restaurants/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home-Restaurants|navigation|1</span>
								<div class="nav-label">Restaurants</div>
							</a>
						</li>
					  										  						<li>
							<a href="/foodandhome/wine/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home-Wine|navigation|2</span>
								<div class="nav-label">Wine</div>
							</a>
						</li>
					  										  						<li>
							<a href="/foodandhome/recipes/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home-Recipes|navigation|3</span>
								<div class="nav-label">Recipes</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfchronicle.com/food/top-100-2015/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home-Top 100 Restaurants|navigation|4</span>
								<div class="nav-label">Top 100 Restaurants</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfchronicle.com/top100-wines-2014/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home-Top 100 Wines|navigation|5</span>
								<div class="nav-label">Top 100 Wines</div>
							</a>
						</li>
					  										  						<li>
							<a href="/foodandhome/home-design/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home-Home Design|navigation|6</span>
								<div class="nav-label">Home Design</div>
							</a>
						</li>
					  										  						<li>
							<a href="/foodandhome/gardening/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Food+Home-Gardening|navigation|7</span>
								<div class="nav-label">Gardening</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="Ar-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|A&amp;E|navigation|9</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/entertainment/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E|navigation|9</span>
								<span class="section-link">A&amp;E</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/entertainment/movies-tv/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Movies &amp; TV|navigation|1</span>
								<div class="nav-label">Movies &amp; TV</div>
							</a>
						</li>
					  										  						<li>
							<a href="/entertainment/arts-theater/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Arts &amp; Theater|navigation|2</span>
								<div class="nav-label">Arts &amp; Theater</div>
							</a>
						</li>
					  										  						<li>
							<a href="/entertainment/music/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Music|navigation|3</span>
								<div class="nav-label">Music</div>
							</a>
						</li>
					  										  						<li>
							<a href="/entertainment/books/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Books|navigation|4</span>
								<div class="nav-label">Books</div>
							</a>
						</li>
					  										  						<li>
							<a href="/badreporter/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Bad Reporter|navigation|5</span>
								<div class="nav-label">Bad Reporter</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfgate.com/horoscope/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Horoscopes|navigation|6</span>
								<div class="nav-label">Horoscopes</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfchronicle.com/comics/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Comics|navigation|7</span>
								<div class="nav-label">Comics</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfgate.com/games" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Games|navigation|8</span>
								<div class="nav-label">Games</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfgate.com/cgi-bin/movies/listings/search" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|A&amp;E-Movie Listings|navigation|9</span>
								<div class="nav-label">Movie Listings</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="Li-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Lifestyle|navigation|10</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="/lifestyle/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Lifestyle|navigation|10</span>
								<span class="section-link">Lifestyle</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="http://www.sfchronicle.com/style" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Lifestyle-Style|navigation|1</span>
								<div class="nav-label">Style</div>
							</a>
						</li>
					  										  						<li>
							<a href="/lifestyle/health/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Lifestyle-Health|navigation|2</span>
								<div class="nav-label">Health</div>
							</a>
						</li>
					  										  						<li>
							<a href="/lifestyle/outdoors/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Lifestyle-Outdoors|navigation|3</span>
								<div class="nav-label">Outdoors</div>
							</a>
						</li>
					  										  						<li>
							<a href="/lifestyle/travel/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Lifestyle-Travel|navigation|4</span>
								<div class="nav-label">Travel</div>
							</a>
						</li>
					  										</ul>
									</li>
																					<li id="Me-link" class="menu-item hdn-analytics">
					<span class="hdn-analytics-data">visit|Membership|navigation|11</span>
						<div class="nav-label">
							<span class="arrow expand"></span>
							<a href="http://www.sfchronicle.com/membership/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Membership|navigation|11</span>
								<span class="section-link">Membership</span>
							</a>
						</div>
										<ul class="nav-submenu-list">
										  						<li>
							<a href="/membership/faq/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Membership-About Membership|navigation|1</span>
								<div class="nav-label">About Membership</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfchronicle.com/membership/#offers" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Membership-Exclusive offers|navigation|2</span>
								<div class="nav-label">Exclusive offers</div>
							</a>
						</li>
					  										  						<li>
							<a href="https://myaccount.sfchronicle.com/dsssubscribe.aspx?pid=1249&amp;z=00000" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Membership-Join Now|navigation|3</span>
								<div class="nav-label">Join Now</div>
							</a>
						</li>
					  										  						<li>
							<a href="https://myaccount.sfchronicle.com/Login.aspx" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Membership-Manage my account|navigation|4</span>
								<div class="nav-label">Manage my account</div>
							</a>
						</li>
					  										  						<li>
							<a href="http://www.sfchronicle.com/archive/" class="hdn-analytics">
								<span class="hdn-analytics-data">visit|Membership-Archive|navigation|5</span>
								<div class="nav-label">Archive</div>
							</a>
						</li>
					  										</ul>
									</li>
										</ul>
</div>
<!-- /ux hearst/common/dynamic_nav.tpl -->

</div>
