<div id="header">
	
	<div class="header-top">
		<ul class="ht-links">
			<li class="ht-link-item first"><a href="http://www.sfgate.com/cars/" target="_blank">Autos</a></li>
      		<li class="ht-link-item"><a href="http://www.sfgate.com/jobs/" target="_blank">Jobs</a></li>
      		<li class="ht-link-item"><a href="http://www.sfgate.com/realestate/" target="_blank">Real Estate</a></li>
      		<li class="ht-weather">
        		<span>
          			<a class="weather-ico" href="http://weather.sfgate.com/US/CA/San_Francisco.html" target="_blank" style="background-position: -72px -72px;"></a>
          			<a class="ht-temp" href="http://weather.sfgate.com/US/CA/San_Francisco.html" target="_blank">70°</a>
        		</span>
      		</li>
    	</ul>
		<ul class="ht-right-links signed-in">
	    	<li class="ht-ed"><span><a href="/e-edition/">e-edition</a></span></li>   	
		</ul>
	</div>

	<div class="header-branding">
		<div class="wrap-center">
			<a class="logo-link" href="/"></a>
			<div class="head-date">
				<span class="wide-only">Friday,</span>
				<span class="date"> June 12, 2015</span>
			</div>
			<div class="header-share">
				<ul>
					<li>Follow Us</li>
					<li><a class="hs-link fb-link" href="https://www.facebook.com/sanfranciscochronicle"></a></li>
					<li><a class="hs-link twtr-link" href="https://twitter.com/sfchronicle"></a></li>
					<li><a class="hs-link li-link" href="https://www.linkedin.com/company/san-francisco-chronicle"></a></li>
					<li><a class="hs-link gplus-link" href="https://plus.google.com/+sfgate/posts"></a></li>
				</ul>
			</div>
		</div>
	</div>

</div>